.fa-fw.fa-twitter-square{
	font-family: sans-serif;
	font-weight: bold;
}

.fa-fw.fa-twitter-square::before{
	content: "𝕏";
	font-size: 1.2em;

}

.custom-bluesky-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  content: url('/assets/svgs/bluesky_media_kit_logo_svgs.svg');
  margin-bottom: -0.1em;
  margin-right: 0.25em;
}

.custom-bluesky-icon-white {
  display: inline-block;
  width: 1em;
  height: 1em;
  content: url('/assets/svgs/bluesky_media_kit_logo_svgs_white.svg');
  margin-bottom: -0.1em;
}