---
---
<!-- <a href="{{ entry.url }}" target="_blank">{{ reference }}</a> -->

<div >{{ entry.title }}.</div>
<!-- <div style="font-weight: lighter;">{{ entry.author | replace_first: 'Zenn, Johannes', '<span style="text-decoration: underline">Zenn, Johannes</span>' }}</div> -->
<div style="font-weight: lighter;">
  {% assign author_array_size = entry.author_array | size %}

  {% assign author_array_limit = author_array_size %}
  {%- if site.max_author_limit and author_array_size > site.max_author_limit %}
    {% assign author_array_limit = site.max_author_limit %}
  {% endif %}

  {%- for author in entry.author_array limit: author_array_limit -%}
    {%- assign author_is_self = false -%}
    {%- assign author_last_name = author.last | remove: "¶" | remove: "&" | remove: "*" | remove: "†" | remove: "^" -%}
    {%- if site.scholar.last_name contains author_last_name -%}
      {%- if site.scholar.first_name contains author.first -%}
        {%- assign author_is_self = true -%}
      {%- endif -%}
    {%- endif -%}
    
    {%- assign equal_contribution = false -%}
    {%- if author_last_name contains site.scholar.equal_contribution -%}
      {%- assign equal_contribution = true -%}
    {%- endif -%}
    
    {%- assign coauthor_url = nil -%}
    {%- if site.data.coauthors[author_last_name] -%}
      {%- for coauthor in site.data.coauthors[author_last_name] -%}
        {%- if coauthor.firstname contains author.first -%}
          {%- assign coauthor_url = coauthor.url -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}

    {%- if forloop.length > 1 -%}
      {%- if forloop.first == false -%},&nbsp;{%- endif -%}
      {%- if forloop.last and author_array_limit == author_array_size -%}and&nbsp;{%- endif -%}
    {%- endif -%}
    {%- if author_is_self -%}
      <span style="text-decoration: underline">{{author.first}} {{author.last}}</span>
    {%- else -%}
      {%- if coauthor_url -%}
        <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>
      {%- else -%}
        {{author.first}} {{author.last}}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  {%- assign more_authors = author_array_size | minus: author_array_limit -%}

  {%- assign more_authors_hide = more_authors | append: " more author" -%}
  {%- if more_authors > 0 -%}
    {%- if more_authors > 1 -%}
      {%- assign more_authors_hide = more_authors_hide | append: "s" -%}
    {%- endif -%}
    {%- assign more_authors_show = '' -%}
    {%- for author in entry.author_array offset: author_array_limit -%}
      {%- assign more_authors_show = more_authors_show | append: author.first | append: " " | append: author.last -%}
      {%- unless forloop.last -%}
        {%- assign more_authors_show = more_authors_show | append: ", " -%}
      {%- endunless -%}
    {%- endfor -%}
  {% endif -%}
</div>
<div style="font-weight: lighter;">In <span style="font-style: italic;"><span>{{ entry.journal }},</span> {{ entry.year }}</span>.</div>
<p id="{{ entry.url }}-text" hidden>{{ entry.bibtex }}</p>
<a style="text-decoration: none; font-weight: lighter; color: $primary_color;" href="{{ entry.url }}"><i class="fa fa-file"></i>&nbsp;Paper&nbsp;</a>
{% if entry.github %}
  &nbsp; <a style="text-decoration: none; font-weight: lighter; color: $primary_color;" href="{{ entry.github }}"><i class="fab fa-fw fa-github"></i>&nbsp;GitHub&nbsp;</a>
{% endif %}
{% if entry.poster %}
  &nbsp; <a style="text-decoration: none; font-weight: lighter; color: $primary_color;" href="{{ entry.poster }}"><i class="fa fa-clipboard"></i>&nbsp;Poster&nbsp;</a>
{% endif %}
{% if entry.projecturl %}
  &nbsp; <a style="text-decoration: none; font-weight: lighter; color: $primary_color;" href="{{ entry.projecturl }}"><i class="fas fa-globe-europe"></i>&nbsp;Project Page&nbsp;</a>
{% endif %}
&nbsp;
<!-- <a class="btn btn--outline" onclick="copyToClipboard('{{ entry.url }}')">BibTeX <i class="fab fa fa-copy"></i></a> -->
<a style="text-decoration: none; font-weight: lighter; color: $primary_color;" onclick="copyToClipboard('{{ entry.url }}')"><i class="fab fa fa-copy"></i>&nbsp;Copy BibTex&nbsp;</a>
<p></p>
